<h2>About</h2>
<p>I am a professional software engineer. Having a keen interest in ancient history I thought how can I use my skills at best.
 Long story short, I noticed that ancient sources are very scattered and there is no centralized source for it.
 So I thought, what if there is a library of these texts online. As ancient greece is my point of interest,
 I decided to start with Linear B texts. In the future, maybe other writings will follow.
 This is non-profit, only a hobby, so I don't intent to infringe any copyright. If so, I will remove copyrighted material.
 I will try to take tablets get the tablets from official sources, always referencing who is the source for the tablet.
 My goal does not include research based on the tablets published. That I keep to the scholars.</p>
<p>I will not add any more information, except for the one that comes from the source. It means that all the information you see is original from the source.</p>
<p>Contact me <a href="mailto:domantas.zitkevicius@gmail.com">domantas.zitkevicius@gmail.com</a> if you have any questions, or you have texts which you would like to upload</p>
<a class="clickable-cursor" onclick='restorePreviousState()'>Go Back</a>